body{
  background: url(https://sazaq.github.io/arkaplan.jpg) no-repeat;
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #fff;
  text-align: center;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

h5 {
  color: #fff;
}

h6 {
  color: #fff;
}

 a {
   color: #fff;
   text-decoration: none;
   font-family: 'Lexend Deca', sans-serif;
 }

 a:visited {
  color: #efc20f;
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
 }

audio {
  color: #0066ff;
  position: fixed;
  top: 520px;
  right: 808px;
}

.title {
  color: #fff;
  position: fixed;
  top: 340px;
  right: 900px;
  font-size: 40px;
  font-family: 'Lexend Deca', sans-serif;
}

.dairesel {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #0d1117;
  position: fixed;
  top: 100px;
  right: 830px;
  transition: all 0.3s;
  background: url(https://sazaq.github.io/sazaq.png) no-repeat;
  }

.dairesel:hover {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: 5px solid #0066ff;
  position: fixed;
  top: 100px;
  right: 830px;
  background: url(https://sazaq.github.io/sazaq.gif) no-repeat;
  }

.button {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #efc20f;
  font-size: 15px;
  padding: 10px 24px;
  border-radius: 2px;
  transition-duration: 0.4s;
  float: right 20px;
  position: fixed;
  top: 450px;
  float: left 10px;
}
  
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
  
.button.instagram {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #405DE6;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 702px;
}

.button.instagram:hover {
  color: #fff;
  background-color: #3951c9;
}

.button.discord {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #829df8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 826px;
}

.button.discord:hover {
  color: #fff;
  background-color: #6b80cc;
}

.button.youtube {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #f60000;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 926px;
}

.button.youtube:hover {
  color: #fff;
  background-color: #c70000;
}

.button.twitch {
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #cc00ff;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  float: left 10px;
  left: 1035px;
}

.button.twitch:hover {
  color: #fff;
  background-color: #8700bd;
}

.loader {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #06090f;
}
